button {
    background: none;
    border: 2px solid lightgray;
}

button:hover {
    background: skyblue;
}

.btn-active {
    background-color: lightblue;
}


.btn-inactive {
    background-color: unset;
}