button {
    color: #FFA500;
}

label {
    font: bolder;
}

.selected-theme {
    background-color: green;
    border: 2px solid #FFA500;
}

.selected-layout {
    background-color: green;
    border: 2px solid #FFA500;
}