button:disabled {
    background: gray;
    color: white;
    font-weight: bolder;

}

spinbutton button:disabled {
    background: gray;
    color: white;
    font-weight: bolder;
}

/*
label {
    font:bolder;
}
*/

.selected-theme {
    background-color: green;
    border: 2px solid #FFA500;
}

.selected-layout {
    background-color: green;
    border: 2px solid #FFA500;
}

.unselected-layout {
    background-color: unset;
    border: unset;
}

.bordered-box {
    border: 1px solid lightgray;
    border-radius: 13px;
    padding: 13px;
}



shortcutbtn {
    padding: 8px 13px;
    font-size: 22px;
    color: #555;
    margin: 8px 8px;
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
    border-width: 1px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #d2d2d2 80%, #c0c0c0 100%);
    font-family: sans-serif;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    box-shadow: 0 0 1px #888,
        0 1px 0 #fff,
        0 6px 0 #c0c0c0,
        2px 1px 4px rgba(68, 68, 68, 0.25),
        -2px 1px 4px rgba(68, 68, 68, 0.25);
}

shortcutbtn:hover,
shortcutbtn:focus {
    box-shadow: 0 0 1px #888,
        0 1px 0 #fff,
        0 4px 0 #c0c0c0,

        2px 2px 4px rgba(68, 68, 68, 0.25),
        -2px 2px 4px rgba(68, 68, 68, 0.25),
        0 7px 4px rgba(68, 68, 68, 0.1);
    transform: translateY(2px);
}

shortcutbtn:active {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0, 0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
    transform: translateY(4px);
}




.togglebutton {
    border-radius: unset;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid lightgray
}


.togglebutton:focus {
    box-shadow: none;
    background: #d2d2d2;
}