[Desktop Entry]
Name=Pardus Greeter
Name[tr]=Pardus Karşılayıcı
GenericName=Pardus Greeter
Comment=Pardus Greeter, Customize desktop with a few clicks.
Comment[tr]=Pardus Karşılayıcı. Birkaç tıkla masaüstünüzü özelleştirin.
Exec=pardus-gnome-greeter
Icon=pardus-gnome-greeter
Terminal=false
Type=Application
Categories=Settings;X-Pardus-Apps;
StartupNotify=true
Keywords=welcome;configure;tweaks;settings;
Keywords[tr]=hoşgeldin;yapılandırıcı;inceayarlar;ayarlar;
