[Desktop Entry]
Type=Application
Name=Pardus GNOME Greeter Daemon
Comment=Background service for live wallpaper management
Exec=pardus-gnome-greeter --daemon
Icon=pardus-gnome-greeter
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
Categories=GNOME;GTK;Settings;
