/* ==========================================================================
   EXTENSIONS PAGE STYLES
   ========================================================================== */

/* Extensions flowbox styling */
.extensions-flowbox {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 0px;
} 