/* Import all CSS modules */
@import url("header.css");
@import url("sliders.css");
@import url("cards.css");
@import url("accent.css");
@import url("wallpaper.css");
@import url("extensions.css");
@import url("layout.css");

